<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>USB-Sensor (Desktop)</Name>
    <Version>1.00.00</Version>
    <Title>USB-Sensor win32 Installer</Title>
    <Publisher>DogRatIan</Publisher>
    <StartMenuDir>DogRatIan/USB-Sensor</StartMenuDir>
    <TargetDir>@ApplicationsDirX86@/USB-Sensor</TargetDir>
</Installer>
